<button [routerLink]="['/estructural']" routerLinkActive="active">
  Ir a estructural
</button>
<button [routerLink]="['/pipes']" routerLinkActive="active">Ir a pipes</button>
<button [routerLink]="['/compra']" routerLinkActive="active">
  Ir a compra
</button>
<button [routerLink]="['/venta']" routerLinkActive="active">Ir a venta</button>
<button [routerLink]="['/formularios']" routerLinkActive="active">
  Ir a formularios
</button>
<button [routerLink]="['/todos']" routerLinkActive="active">Ir a todos</button>
